@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/_global.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  &__title {
    color: $pet-card-text;
  }

  &__button {
    background-color: $primary;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: $logo-text-color;
    margin-bottom: 0.5rem;

    &:hover {
      background-color: $accent;
    }
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
  }
}
