@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/_global.scss";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  color: $primary-text-color;

  &__container {
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  &__header {
    font-weight: 900;
  }

  &__body {
    font-weight: 400;
    margin: 0 1rem;
  }

  &__button {
    background-color: $primary;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: $logo-text-color;

    &:hover {
      background-color: $accent;
    }
  }
}
