@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/_global.scss";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  color: $primary-text-color;

  &__container {
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  &__header {
    font-weight: 900;
  }

  &__body {
    font-weight: 400;
    margin: 0 1rem;
  }
}
