// @use './typography';
// @use './variables' as *;

/* Global Styling */

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  //   color: $primary-text-color;
}

body {
  background-image: url("src/assets/images/Luxury Blue Gradient Background.jpg");
  background-size: 100vw 100vh;
}

// input {
//   font-family: $font;
// }

/* List Styles */

ul {
  list-style: none;
  padding: 0;
}

/* Button Style Reset */

button {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Link Style Reset */
a {
  text-decoration: none;
}
