@use "./typography";

/* Font */
$font: "Poppins", sans-serif;
$primary-text-color: #562e0d;
$logo-text-color: whitesmoke;

/* Colours */
$primary: #79c3b2;
$primary-shadow: #609c8e;
$accent: #dea850;
$background: #fcf3d4;
$background-shadow: #c9c2a9;
$pet-card-text: #100d00;
