@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/_global.scss";

.header {
  background-color: $primary;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  display: flex;
  color: $logo-text-color;
  text-shadow: -5px 5px 5px $primary-shadow;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    order: 2;
  }

  &__button {
    margin-right: 0.7rem;
    font-size: 0.9rem;

    &:hover {
      color: $accent;
      text-decoration: underline;
    }
  }

  &__logo-container {
    display: flex;
  }

  &__logo {
    max-width: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    filter: drop-shadow(-5px 5px 5px $primary-shadow);
    order: 1;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 900;
    order: 1;
    margin: 0.7rem 0.5rem 0 1rem;
  }
}

.home-header {
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  padding-top: 0.5rem;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__button {
    margin-left: 1rem;

    &:hover {
      color: $accent;
      text-decoration: underline;
    }
  }

  &__logo {
    max-width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    filter: drop-shadow(-5px 5px 5px $primary-shadow);
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 3.7rem;
    font-weight: 900;
  }

  &__text {
    font-weight: 100;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
  }
}
