@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.doc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    color: $pet-card-text;
    display: flex;
    flex-direction: column;
  }

  &__img {
    max-width: 10rem;
    margin-bottom: 1rem;
  }

  &__body {
    font-weight: 700;
  }
}
